@{
    ViewBag.Title = "Cebritas";
    Layout = "~/Views/Shared/_CebritasLayout.cshtml";
}
@{
    var rnd = new Random();
    var num = rnd.Next(1000);
    var qs = "rnd=" + num;
}
@section CustomScripts{
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/maputils.js")?@qs"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/maps.js")?@qs"></script>
}
<div class="problem-report">
    <h3>
        What's going on?</h3>
    <div id='mapDiv' class="bing-map">
    </div>
    <div class="problem-details">
        <div class="problem-list-title">
            <h3>
                Problems</h3>
            Filter:
            <select id="filter">
                <option value="0">All</option>
                <option value="1">Traffic Jam</option>
                <option value="2">Manifestation</option>
                <option value="3">Parade</option>
                <option value="4">Blockade</option>
                <option value="5">Accident</option>
                <option value="6">Other</option>
            </select>
        </div>
        <div class="problem-list" id="problems">
        </div>
    </div>
</div>
<div class="modal hide fade" id="information">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="model-problem-type"></h3>
  </div>
  <div class="modal-body">
    <b>Importance: </b> <span id="modal-problem-importance"></span> <br />
    <b>Reported at: </b> <span id="modal-problem-reportedat"></span> <br />
    <b>Description: </b> <span id="modal-problem-description"></span> <br />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="$('#information').modal('hide')">Close</a>
  </div>
</div>