@{
    ViewBag.Title = "Cebritas";
    Layout = "~/Views/Shared/_CebritasLayout.cshtml";
}
@* TODO: Make styles for login form  *@
<div style=" background: #eaeaea; margin:40px auto 0 auto; padding: 5px; width: 500px">
    @using (Html.BeginForm("Logon", "Home", FormMethod.Post)) {
        @:<input style="width:98%" type="email" id="Email "name="Email" value="" placeholder="Email" autocomplete="off" /><br>
        @:<input style="width:98%" type="password" id="Password" name="Password" value="" placeholder="Password"autocomplete="off" /><br>
        @:<input style="width: 100%" class="btn btn-success" type="submit" name="" value="Login" />
    }
</div>