#l-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #004050;
}
#l-header {
  width: 100%;
  height: 150px;
  background: #1E1E1E;
}
#l-main {
  padding: 0 0 40px 0;
  margin: -7px 0 0 0;
}
#l-footer {
  bottom: 0;
  width: 100%;
  height: 70px;
}