@{
    ViewBag.Title = "Cebritas - Report Problem";
    Layout = "~/Views/Shared/_CebritasLayout.cshtml";
}
<div class="problem-report">
    <h3>
        Report a problem</h3>
    <div id='mapDiv' style="position: absolute; width: 75%; height: 430px;">
    </div>
    <div class="problem-details">
        <div class="report-problem">
            <h3>
                Information</h3>
            @using (Html.BeginForm("ReportProblem", "UserReport", FormMethod.Post)) {
                @: Type:
                <select id="type" name="Type">
                    <option value="1">Traffic Jam</option>
                    <option value="2">Manifestation</option>
                    <option value="3">Parade</option>
                    <option value="4">Blockade</option>
                    <option value="5">Accident</option>
                    <option value="6">Other</option>
                </select>
                @: Description:
                <textarea name="Description" rows="5" cols="4" required></textarea>
                @: Position: <sub>(double click on the map)</sub>
                <div class="input-append">
                    <input class="span2" id="position" type="text" disabled="true">
                    <button class="btn" id="remove" type="button" disabled="true">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
                <input type="hidden" id="latitude" name="Latitude" value="" />
                <input type="hidden" id="longitude" name="Longitude" value="" />
                <input id="submit-report" disabled="true" type="submit" class="btn btn-danger" value="Report problem" />
            }
        </div>
    </div>
</div>