<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="CebraContext" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlsergio;Initial Catalog=w1740485_CebritasDb;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Cebritas -->
    <add key="SmtpServer" value="smtp.live.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSender" value="cebritasapp@hotmail.com" />
    <add key="SmtpPassword" value="lascebras123" />
  </appSettings>
</configuration>